name: Linux
on:
  push:
jobs:
  python3_6:
    runs-on: ubuntu-latest
    container:
      image: almalinux:8
    steps:
      - name: Install dependencies
        run: dnf install -y git python3-pytest python3-pip gcc-c++ python3-devel python3-pip
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Run tests
        run: |
          pip3 install --upgrade pip
          pip3 install -r requirements.txt
          pytest-3
  python3_13:
    runs-on: ubuntu-latest
    container:
      image: fedora:42
    steps:
      - name: Install dependencies
        run: dnf install -y git python3-pytest python3-pip gcc-c++ python3-devel
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Run tests
        run: |
          pip install -r requirements.txt
          pytest
  python3_14:
    runs-on: ubuntu-latest
    container:
      image: fedora:43
    steps:
      - name: Install dependencies
        run: dnf install -y git python3-pytest python3-pip gcc-c++ python3-devel
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Run tests
        run: |
          pip install -r requirements.txt
          pytest
